.note-list {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

input, textarea {
    width: 100%;
    border: none;
    margin-top: 10px;
    background: none;
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

#title {
    font-size: 22px;
    margin-top: 0;
}

#subtitle {
    font-size: 12px;
}

#content {
    font-size: 16px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tool {
    display: flex;
    gap: 15px;
}

.tool button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tool button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#btn-save {
    height: 30px;
    width: 60px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#btn-save:hover {
    background-color: rgba(0, 0, 0, 0.1);
}