.add-note-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.add-note {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    padding: 20px;
    border-radius: 15px;
    background-color: white;  
    box-shadow: 5px 5px 5px rgba(235, 235, 235, 1);
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title input {
    height: 20px;
    width: calc(100% - 30px);
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border: 1px solid rgba(126, 126, 126, 0.3);
}

.note {
    background-color: white;  
    box-shadow: 5px 5px 5px rgba(235, 235, 235, 1);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tool {
    height: 20px;
    width: calc(100% - 30px);
    padding: 15px 15px 0 15px;
    border-top: 1px solid rgba(126, 126, 126, 0.7);
    border-left: 1px solid rgba(126, 126, 126, 0.7);
    border-right: 1px solid rgba(126, 126, 126, 0.7);
    resize: none;
}

.take-note {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid rgba(126, 126, 126, 0.3);
    border-radius: 15px;
}

.take-note label {
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    padding-bottom: 20px;
}

.note-content textarea {
    width: calc(100% - 30px);
    padding: 15px 15px 0 15px;
    border: 1px solid rgba(126, 126, 126, 0.7);
    resize: none;
}

.more {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid rgba(126, 126, 126, 0.3);
    border-radius: 15px;
}

.more input {
    height: 20px;
    width: calc(100% - 30px);
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid rgba(126, 126, 126, 0.3);
}

.img {
    padding: 20px;
    background-color: #ffffff;
    border: 1px dashed rgba(126, 126, 126, 1);
    border-radius: 15px;
    margin-top: 10px;
}

.img img {
    height: 80px;
    margin-bottom: 20px;
    width: 80px;
}

.info {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toolbar {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.toolbar button {
    height: 35px;
    width: 100px;
    font-weight: 550;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(126, 126, 126, 0.7);
}

.info-owner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.owner {
    padding: 20px;
    border-radius: 15px;
    background-color: white;  
    box-shadow: 5px 5px 5px rgba(235, 235, 235, 1);
}

.owner label {
    font-weight: 550;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 20px;
    width: calc(100% - 30px);
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(126, 126, 126, 0.3);
}

.user img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.date {
    margin-top: 10px;
    height: 20px;
    width: calc(100% - 30px);
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #ffffff;
    border: 1px solid rgba(126, 126, 126, 0.3);
}

label {
    font-size: 14px;
}