<div flexCenter class="add-note">
    <div class="note-list">
        <div class="note-item">
            <input type="text" id="title" placeholder="Tiêu đề">
        </div>
        <div class="note-item">
            <input type="text" id="subtitle" placeholder="Mô tả">
        </div>
        <div class="note-item">
            <textarea type="text" id="content" placeholder="Ghi chú..." (input)="autoResize($event)" style="margin-bottom: 5px;"></textarea>
        </div>
        <div class="toolbar">
            <div class="tool">
                <button onclick="formatText('bold')"><b>B</b></button>
                <button onclick="formatText('italic')"><i>I</i></button>
                <button onclick="formatText('underline')"><u>U</u></button>
            </div>
            <div>
                <button id="btn-save">Lưu</button>
            </div>
        </div>
    </div>
</div>