<div flexCenter class="add-note">
    <div class="note-list">
        <div class="note-item">
            <label for="">Title:</label>
            <input type="text" id="title">
        </div>
        <div class="note-item">
            <label for="">Subtitle:</label>
            <textarea type="text" id="subtitle"></textarea>
        </div>
        <div class="note-item">
            <label for="">Content:</label>
            <textarea type="text" id="content"></textarea>
        </div>
        <div class="note-item">
            <input type="file" id="file" placeholder="Chọn ảnh trong thư viện" multiple="true">
        </div>
        <div class="button">
            <button>Quay lại</button>
            <button>Lưu</button>
        </div>
    </div>
</div>