# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.py[cod]
local_settings.py
db.sqlite3
media/

# Node / Angular
node_modules/
npm-debug.log
yarn-error.log
/dist/
build/
package-lock.json

# IDE / Editor
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
