.btn-container {
    gap: 20px;
}

.btn {
    gap: 10px;
    padding: 10px;
    border: 1px solid rgba(126, 126, 126, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    span {
        display: block;
    }
}

.btn span {
    display: none;
    font-weight: 550;
    font-size: 14px;
}

.kanban-container {
    width: 100%;
    gap: 40px;
}

.board {
    height: calc(100vh - 220px);
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(235, 235, 235, 1);
}