<div class="container flex-center">

  <app-navbar></app-navbar>

  <div class="content" flexCenter>
    <div flexCenter class="note-container">
      <div class="note-list">

        <div class="note-item">
          <div class="item">
            <div class="title">
              <span>Tổng số ghi chú</span>
            </div>
            <div class="note">
              <span>45</span>
            </div>
          </div>
        </div>

        <div class="note-item">
          <div class="item">
            <div class="title">
              <span>Task cá nhân</span>
            </div>
            <div class="note">
              <span>12</span>
            </div>
          </div>
        </div>

        <div class="note-item">
          <div class="item">
            <div class="title">
              <span>Task trong team</span>
            </div>
            <div class="note">
              <span>27</span>
            </div>
          </div>
        </div>

        <div class="note-item">
          <div class="item">
            <div class="title">
              <span>Workspace đã tham gia</span>
            </div>
            <div class="note">
              <span>3</span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
