.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.ic-tool {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.ic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    font-weight: 550;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(126, 126, 126, 0.5);
    cursor: pointer;
    transition: all ease-out 300ms;
}

.ic:hover {
    background-color: rgba(1, 47, 95, 1);
}

mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.note-container {
    width: 100%;
}

.note-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;
}

.note-item {
    width: 200px;
    height: 120px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(235, 235, 235, 1);
    transition: transform ease-in 0.1s;
    cursor: pointer;
}

.note-item:hover {
    transform: scale(1.05);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title span {
    font-weight: 550;
    font-size: 16px;
}

.title {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
}

.note span {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
