<div class="theme-container">
    <div class="theme">
        <div class="color">
            <h4>Màu chủ đạo</h4>
            <div class="colors flex-center">
                <div class="blue cr"></div>
                <div class="yellow cr"></div>
                <div class="green cr"></div>
            </div>
        </div>

        <div class="light-dark flex-center" style="flex-direction: column; gap: 20px; margin-top: 40px;">
            <h4>Chế độ nền</h4>
            <div style="display: flex; gap: 20px;">
                <div style="gap: 10px; display: flex; align-items: center; flex-direction: column;">
                    <div class="light-mode flex-center" style="gap: 10px;">
                        <mat-icon>light_mode</mat-icon>
                    </div>
                    <span>Sáng</span>
                </div>

                <div style="gap: 10px; display: flex; align-items: center; flex-direction: column; margin-bottom: 15px;">
                    <div class="dark-mode flex-center" style="gap: 10px;">
                        <mat-icon>dark_mode</mat-icon>
                    </div>
                    <span>Tối</span>
                </div>
            </div>
        </div>
    </div>
</div>