@use '@angular/material' as mat;

html {
    @include mat.theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-image: linear-gradient( 90.2deg,  rgba(1,47,95,1) -0.4%, rgba(56,141,217,1) 106.1% );
}